<p id="notice"><%= notice %></p>

<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @review.review_rating %>
</p>

<p>
  <strong>Business:</strong>
  <%= @review.business %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
